html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

#container1 > * {
	background-color: #3498DB;
}

#container2 > * {
	background-color: #E74C3C;
}

#container1 > button, #container2 > button {
	border: none;
	color: white;
	width: inherit;
	height: 100%;
}

#container1, #container2 {
	width: 100%;
	height: 50%;
}